@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background: #fff;
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-size: 1.15em;
  margin: 0;
}
p {
  opacity: 0.6;
  line-height: 1.5;
}
img {
  max-width: 100%;
}

/* Container Class */
.container {
  width: 1000px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #ebfbff;
  padding: 40px 0;
}

.header_img {
  width: 375px;
  margin-left: 40px;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* Cards */
.card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 40px 0;
  padding: 60px;
  flex-direction: "row";
}

.card2 {
  flex-direction: row-reverse;
}

.card div img {
  width: 80%;
}

.card div {
  flex: 1;
}

/* @media (max-width: ) {
    flex-direction: column;
  } */

/* Flex Class */
.flex {
  display: flex;
  align-items: center;
}

.flex div {
    flex: 1;
}
section > ul {
  flex: 1;
}


/* @media (max-width: 375px) {
flex-direction: column;
text-align: center;
} */

footer {
  background-color: hsl(208, 11%, 55%);
  color: #fff;
  padding: 100px 0 60px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 20px;
}

footer p {
  text-align: right;
}

/* Media Queries for Footer Section */
/* @media (max-width: 768px) {
text-align: center;
ul {
    padding: 0;
}
p {
    text-align: center;
}
} */

/* Social icons */
.social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_icons li {
  list-style: none;
}

.social_icons a {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}

/* Button */
button {
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 60px;
    background-color: #fff;
    color: #333;
}

button:hover {
    opacity: 0.9;
    transform: scale(0.98);
}

.pink_btn {
    background-color: hsl(322, 100%, 66%);
    color: #fff;
}